{% include "header.html" %}

<div class="main">
  <div class="container">
    <div class="row">

      <h2 class="mb-5">Erde: Grün</h2>
      <p>Die Erdzeichen Stier, Jungfrau und Steinbock sind realistisch und auf dem Boden der Tatsachen, eben geerdet.
        Beharrlichkeit zählt ebenso zum Element Erde wie Disziplin. Ihr praktisches Handeln kann bei Erdzeichen auch in
        Strenge und Konservatismus umschlagen. Die fassbare, materielle Welt ist ihr Zuhause, und so steht das Element
        Erde auch für Zuverlässigkeit, ob im Beruf oder bei zwischenmenschlichen Beziehungen.</p>

      <p>Ordnung ist wichtig für Erde-Geborene, Phantastereien sind den nüchternen Persönlichkeiten eher fremd. Ein
        Fehlen des Elements Erde kann für den Verlust von Realismus stehen.</p>

    </div>
  </div>
</div>
{% include "footer.html" %}