{% include "header.html" %}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-5">Erfahre dein Sternzeichen</h2>

        <div class="formular">
          <form method="POST">
            <!-- Mit POST übermittelt man die Daten an das Flask -->

            <div class="form-group">
              <label for="vorname">Bitte gib deinen Namen ein:</label
              ><input
                class="form-control"
                type="text"
                name="vorname"
                id="vorname"
                placeholder="z.B.: Selma"
              />
            </div>
            <div class="form-group">
              <label for="monat">Bitte gib deinen Geburtsmonat ein:</label
              ><input
                class="form-control"
                type="text"
                name="monat"
                id="monat"
                placeholder="z.B.: Januar"
              />
            </div>
            <div class="form-group">
              <label for="tag">Bitte gib deinen Geburtstag ein:</label
              ><input
                class="form-control"
                type="text"
                name="tag"
                id="tag"
                placeholder="z.B.: 11"
              />
            </div>

            <!-- hier evtl. noch Abfrage des Partners -->
            <button type="submit" class="btn btn-primary">Senden</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}
