<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>Hello</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- hier fehlt noch ein Link aber ich habe das nicht in meinem Bootstrap Paket??? -->
</head>

<body class="pt-8">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Sternzeichen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sternzeichen_seite')}}">Sternzeichen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('formular')}}">Persönliche Abfrage</a>
        </li>
      </ul>

    </div>
  </nav>