{% include "header.html" %}
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mb-5">Herzlich Willkommen!</h1>
				<p>Hier kannst du alles über dein Sternzeichen herausfinden. Zudem kannst du dein Element herausfinden und sehen, welche Nutzer dasselbe Sternzeichen wie du haben. Gehe auf "Persönliche Abfrage", um dein Sternzeichen und Element zu erfahren oder unter "Sternzeichen", um über die verschiedenen Sternzeichen lesen zu können.</p>

				<a href="{{ url_for('sternzeichen_seite')}}">Sternzeichen</a>

				<a href="{{ url_for('formular')}}">Persönliche Abfrage</a>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}