{% include "header.html" %}
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mb-5">Herzlich Willkommen!</h1>
				<p>Hier kannst du alles über dein Sternzeichen herausfinden. Du kannst dein Sternzeichen berechnen lassen und darüber lesen. Zudem erfährst du, zu welchem Element du gehörst und welche andere Nutzer dasselbe Sternzeichen wie du haben.</p>

				<a href="{{ url_for('sternzeichen_seite')}}">Sternzeichen</a>

				<a href="{{ url_for('formular')}}">Persönliche Abfrage</a>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}