<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<title>Hello</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<!-- hier fehlt noch ein Link aber ich habe das nicht in meinem Bootstrap Paket??? -->
	</head>
	<body class="background">
		
    <div class="begruessung">
			<h1>Herzlich Willkommen!</h1>
		<p>Hier kannst du alles über dein Sternzeichen herausfinden. Dein passendes Tierkreiszeichen oder ob dein Partner und du wirklich für einander geschaffen seid. Du kannst hier unten entscheiden, ob du eine Lister aller Sternzeichen sehen möchtest und dein Strernzeihen selber raussuchen oder du kannst mit Hife eines Formulars das passende Sterneichen von dir und evtl. auch von deinem Partner berechnen lassen.</p>

		<a href="{{ url_for('sternzeichen_seite')}}">Sternzeichen</a>

	<a href="{{ url_for('formular')}}">Persönliche Abfrage</a>
		</div>


		
<!-- hier sollten noch zwei Links für den Footer rein aber auch nicht in Paket -->
	</body>
</html>