{% include "header.html" %}

<div class="main">
  <div class="container">
    <div class="row">

      <h2 class="mb-5">Luft: Gelb</h2>
      <p>Zwillinge, Wassermänner und Waagen zählen zu den Luftzeichen. So ungreifbar wie die Luft, ist auch ihr Wesen
        auf
        das Mentale, nicht fassbare ausgerichtet. Um dies dennoch begreifen zu können, neigen die Luftzeichen zu
        Beschreibungen, sie sind sehr kommunikationsbegabt. Luftzeichen sind in Bewegung und daher gesellig und auch
        reiselustig. Gedanken und ihr Ausdruck sind wichtiger Bestandteil des Lebens Luftgeborener, die mental und
        intellektuell geprägten Luftzeichen sind daher in sozialen, aber auch künstlerischen Berufen zuhause.</p>

      <p>Luftzeichen passen sich schnell an Veränderungen an, ein Fehlen des Elements Luft äußert sich hingegen in
        Schwerfälligkeit und dem Zurückhalten eigener Wünsche.</p>

    </div>
  </div>
</div>
{% include "footer.html" %}