{% include "header.html" %}

<div class="main">
  <div class="container">
    <div class="row">
      <h2 class="mb-5 col-12">Sternzeichen</h2>
      <div class="col-md-3">
        <h4><a href="{{ url_for('feuerzeichen')}}">Feuerzeichen</a></h4>
        <ul>
          {% for Feuerzeichen in feuer %}
          <li>{{ Feuerzeichen }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Erdzeichen</h4>
        <ul>
          {% for Erdzeichen in erde %}
          <li>{{ Erdzeichen }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="col-md-3">
        <h4>Luftzeichen</h4>
        <ul>
          {% for Luftzeichen in luft %}
          <li>{{ Luftzeichen }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="col-md-3">
        <h4>Wasserzeichen</h4>
        <ul>
          {% for Wasserzeichen in wasser %}
          <li>{{ Wasserzeichen }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}