{% include "header.html" %}

<div class="main">
  <div class="container">
    <div class="row">
      <h2 class="mb-5 col-12">Sternzeichen</h2>
      <div class="col-md-3">
        <h4><a href="{{ url_for('feuerzeichen') }}">Feuerzeichen</a></h4>
        <ul>
          {% for Feuerzeichen in feuer %}
          {# Schleife (Prozent) durch das Array, um alle enthaltene Zeichen auszugeben #}
          <li>{{ Feuerzeichen }}</li> {# Ausgabe für des Werts #}
          {% endfor %}
        </ul>
      </div>
      <div class=" col-md-3">
        <h4><a href="{{ url_for('erdzeichen') }}">Erdzeichen</a></h4>
        <ul>
          {% for Erdzeichen in erde %}
          <li>{{ Erdzeichen }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="col-md-3">
        <h4><a href="{{ url_for('luftzeichen') }}">Luftzeichen</a></h4>
        <ul>
          {% for Luftzeichen in luft %}
          <li>{{ Luftzeichen }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="col-md-3">
        <h4><a href="{{ url_for('wasserzeichen') }}">Wasserzeichen</a></h4>
        <ul>
          {% for Wasserzeichen in wasser %}
          <li>{{ Wasserzeichen }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}