{% include "header.html" %}

<div class="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <h2 class="mb-5 col-md-12 text-center">Wasser: Blau</h2>
      <div class="col-md-4">

        <p>Zum Element Wasser werden Fische, Krebse und Skorpione gerechnet. Ihnen allen sind tiefe Emotionalität, ein
          großes Einfühlungsvermögen und Sensibilität gemeinsam. So tief wie das Wasser kann auch die Seele sein – ihre
          unergründlichen Tiefen (und auch die der Seelen anderer) sind Thema für Wasser-Geborene. Wasserzeichen
          verstehen
          und handeln intuitiv, laufen dabei aber auch Gefahr, verloren zu gehen – es fehlt ihnen an der notwendigen
          Erdung.</p>
      </div>
      <div class="col-md-4">
        <p><strong>Rückzug und soziales Miteinander</strong> sind gleichermaßen wichtig für die Sternzeichen des
          Elementes Wasser. Zudem
          sind Wasserzeichen auch kulturell und künstlerisch interessiert. Ein Fehlen des Element Wassers im Horoskop
          kann
          sich in emotionalen Hemmungen ausdrücken.</p>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}