{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Wasserzeichen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">


      <h4>Krebs</h4>
      <p>"Nach meinem Gefühl", spricht der Krebs-Mensch. "Ich hab's gefühlt, dass es so kommt." Der Krebs ist
        gefühlsbetont, einfühlsam und voller Verbindlichkeit und sehr erinnerungsfähig. "Ja, ja, die alten Zeiten." Er
        lässt sich von Sympathie und Antipathie leiten und führen, bei Taten gibt meistens das Gefühl den Ausschlag,
        ganz im Gegensatz zu Zwillinge (dem vorangehenden Zeichen), wo der Verstand zählt. Mit Familie, Elternhaus,
        Heimat und Heimatland hat der Krebs zu tun, eine undefinierbare Sehnsucht nach Geborgenheit; das Erfahrene wird
        eingekapselt und mit ins Heim genommen. Der Krebs kann Unrecht verzeihen, doch selten vergessen. So kann er
        launenhaft und nachtragend sein. 
      </p>

    </div>

    <div class="col-4">
      <h4>Skorpion</h4>
      <p>"Das muss ich ergründen", spricht der Skorpion; eindringen, hineindringen, das Ergründen der Geheimnisse des
        Lebens und des Todes. Der Skorpion hat keine Angst, hinter verborgene Schleier zu sehen. Aus unergründlichen
        Quellen sprudeln mächtige Kräfte empor. Die Energie drängt zum Äußersten. Skorpion ist das eindringlichste
        Zeichen im Zodiak, sein Durchhaltewille ist phänomenal. Der Skorpion ist außerordentlich schwer zu beurteilen,
        er ist eine anspruchsvolle Natur, hat viele, vor allem innere Kämpfe, zu bestehen. Und dieses Innere, hält er
        für die äußere Welt verborgen. Verschlossenheit und Verschwiegenheit, starke Gefühle, große Spannung, das sind
        Eigenschaften des Skorpions.
      </p>
    </div>

    <div class="col-4">
      <h4>Fische</h4>
      <p>"Das ist ja nicht so schlimm, jeder Mensch macht Fehler, das ist menschlich", spricht das Zeichen Fische mit
        einem weichen, versonnenen Ton in der Stimme. Oder: "Du kannst doch nicht gegen den Strom schwimmen," das sind
        für Fische typische Aussagen. Fische ist das Zeichen der allgemeinen Menschenliebe, der Hingabe und der
        liebevollen Zuwendung für andere, das bis hin zur Aufgabe der eigenen Persönlichkeit gehen kann. Das Zeichen
        steht für das Aufgehen des Einzelnen im Ganzen und gerade deshalb, ist dieses Zeichen für logische Menschen sehr
        schwer zu verstehen.
      </p>

    </div>
  </div>
</div>
{% include "footer.html" %}