{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Erdzeichen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">


      <h4>Stier</h4>
      <p>"Nur immer mit der Ruhe", sagt bedächtig der Stiermensch, "Wer langsam reift kommt grad so weit." Der Stier
        überstürzt die Dinge nicht, zuerst muss alles gründlich überlegt werden. Er ist zäh, ausdauernd und arbeitet
        bedacht an seinen Zielen. Doch die eigenen Ziele sind meistens nur ihm bekannt, denn der Stier spricht nie so
        recht darüber, was er vorhat. Er ist etwas verschlossen und nur gegenüber äußerst zuverlässigen Personen lässt
        er mal etwas durchblicken. Der Stier genießt seine heimliche und stille Freude, deshalb kann er auch beharrlich
        schweigen. 
      </p>

    </div>

    <div class="col-4">
      <h4>Jungfrau</h4>
      <p>"Na, ich sehe schon, da muss ich mal gründlich Ordnung schaffen", sagt der Jungfrau-Mensch mit klarer, ruhiger
        Stimme, aus der Sachlichkeit und Nüchternheit spricht. Ordnen, reinigen, sortieren, die Trennung der Spreu vom
        Weizen, das ist das Prinzip der Jungfrau, genauso wie das Symbol der Folgerichtigkeit. Die Jungfrau
        verschleudert nichts, wozu der Löwe - das ihr vorangehende Zeichen - neigt. Sie ist stets darauf bedacht, etwas
        Vorrat zu haben, neigt zu Sparsamkeit und sie kann sich genial einschränken, wenn es nötig wird. Auch die
        begüterte Jungfrau bleibt stets irgendwie sparsam, es können ja mal noch andere Zeiten kommen. Sie ist stets
        damit beschäftigt die Dinge einzuordnen, umzuordnen neu zu ordnen. Im Kopf einer Jungfrau arbeitet es fast wie
        in einem Ameisenhaufen. 
      </p>
    </div>

    <div class="col-4">
      <h4>Steinbock</h4>
      <p>"Ich hab's erreicht!" Dies sagen zu können, ist für Steinbock eine Genugtuung. Anstrengung und Aufstreben ist
        sein Motto. Doch es fällt ihm schwer, plötzliche und rasche Entscheidungen zu treffen, denn er will sich auf
        alles vorbereiten, alles gründlich durchdenken und bedenken. Der Steinbock sagt: "Was lange währt wird endlich
        gut." Er ist ein Feind aller Flüchtigkeit und Ungenauigkeit, verlangt Korrektheit und Exaktheit. Sein Wille zu
        Macht, Ruhm und Ehre ist ausgeprägt. Selbst sehr einfache Menschen mit Steinbockprägung wollen doch wenigstens,
        dass Ihre Schaffenskraft und Ehrlichkeit erkannt und gewürdigt wird.  
      </p>

    </div>
  </div>
</div>
{% include "footer.html" %}