{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Feuerzeichen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">

      <h4>Widder</h4>
      <p>"Hier bin ich!" ruft der Widder; es war still, doch jetzt kommt neues Leben und Treiben in die Runde. Der
        Widder setzt seine Tatkraft ohne viel "Federlassens" um. Er will sich in Szene setzen und hervortreten. Es ist
        dies das Zeichen der Persönlichkeit. Seine primären Eigenschaften sind spannungsgeladene Energie, Initiative,
        Stolz, Mut, und Strebsamkeit. Hindernisse stacheln ihn erst recht zu Leistungen an oder sie werden einfach
        überrannt. Seine ich-betonte, extravertierte und großzügige Art braucht Freiheit und Unabhängigkeit.
      </p>

    </div>

    <div class="col-4">
      <h4>Löwe</h4>
      <p>"Es lebe das Leben"! ruft der Löwe-Mensch mit voller Stimme, Glanz und Lebensbejahung spiegelt sich in seinen
        Augen. Geltungsdrang, Wärme, Mut, Kraft und Lebensfreude strahlt der Löwe aus; er ist frei und stolz, als hätte
        er eine Welt zu verschenken. Ausgeglichenheit, Großherzigkeit, Autorität, Gestaltungskraft - von dem großen Wert
        seiner eigenen Person ist der Löwe im tiefsten Herzensgrund überzeugt. Mit größter Selbstverständlichkeit setzt
        er sich auf den besten Platz, der einem Löwen doch zusteht. Der Löwe gibt den Ton an; er ist triebhaft und
        wohlwollend; stark und anführend will er sein. 
      </p>
    </div>

    <div class="col-4">
      <h4>Schütze</h4>
      <p>"Ich zieh in die Welt hinaus", ruft der Schütze-Mensch mit voller Stimme, deren Klang unantastbare
        Selbstverständlichkeit und Selbstgefühl verrät. Die Expansion in ideeller, geistiger oder auch materieller
        Ausrichtung macht den Schützen lebensbejahend, zupackend und voller Ideenreichtum, stets das Blickfeld
        erweiternd. 
      </p>

    </div>
  </div>
</div>
{% include "footer.html" %}