{% include "header.html" %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Luftzeichen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">

      <h4>Zwilling</h4>
      <p>"Das muss ich wissen", sprühender Eifer und prickelnde Lebendigkeit; überall, wo es etwas zu erfahren gibt ist
        der Zwillinge zur Stelle. Der Zwillingemensch ist das Prinzip der Einholung und Weitergabe von Informationen.
        Mit schnellen und vorschießenden Bewegungen taucht er auf und hat immer Neuigkeiten, doch schnell muss er wieder
        weiter, schnell wie der flüchtige Wind, auf der Treppe verhallen die letzten Worte. Meist umgibt ihn eine innere
        Unrast, denn kaum angekommen, treibt es ihn wieder fort, das Neue und Unbekannte reizt, doch kaum gesehen und
        geschnuppert, ist es schon etwas Altes. 
      </p>

    </div>

    <div class="col-4">
      <h4>Waage</h4>
      <p>Ohne Verbindungen kann der Waagemensch nicht gut existieren; allein auf sich gestellt, fehlt ihm etwas. Er
        fühlt sich allein nicht wohl, durch Partner oder Kameraden kommen die Kräfte erst richtig zur Geltung. Waage ist
        ein schmiegsames Prinzip, Liebe und Harmonie sind ihm ein Lebensbedürfnis. Kunst und Liebe vereinen sich in der
        Waage. Waagemenschen schmücken gerne aus, sie wollen etwas Schönes, auch in der Sprache, wo sie sich einer
        melodisch-weichen Stimme bedienen. 
      </p>
    </div>

    <div class="col-4">
      <h4>Wassermann</h4>
      <p>"Endlich mal eine Reform, die uns wieder ein Stück weiter bringt," ruft der Wassermann mit heller, aufgeweckter
        Stimme. Für den Wassermann typische Aussagen sind auch: „Das müssen wir gleich probieren“, oder „ist einfach,
        und macht doch Effekt.“ Allein sein ist nichts für den Wassermann, in Gesellschaft geht alles besser, schöner
        und schneller. Zusammenarbeit, sich zusammen freuen, neue Ideen und Erfindungen besprechen. Wassermann ist das
        Zeichen der Veränderung und der Kontraste zur Konvention und der Verbände, der Bündnisse und der Freundschaft.
        Besonders wichtig für ihn ist, dass zwischen Freunden kein Zwang vorhanden sein darf. Freunde gestalten das
        Schicksal des Wassermanns mit, er muss deshalb die richtigen Freunde haben.
      </p>

    </div>
  </div>
</div>
{% include "footer.html" %}