h1 {
	font-size: 70pt
}

body {
	font-family: calibri
}

.background {
	width: 100%;
	height: 100%;
	padding-top:0pt;
}


.begruessung {
	color: black;
	text-align: center;
	height: 250pt;
	font-size: 20pt;
	padding-left: 50pt;
	padding-right: 50pt;
	margin-top:0pt;


}

.formularbox {
	text-align: center;
	background-color: lightgreen;
}

.formular {
	background-color: orange;
	width: 500px;
	margin-left: 455px;
}

footer {
    margin-top: 0%;
    margin-bottom: 0rem;
    padding-bottom: 2.1rem;
    padding-top: 2.1rem;
    background-color: rosybrown;
    opacity: 0.9;
    color: white;
}

.kontaktdaten {
    text-align:center;
}

.kontaktdaten a, .kontaktdaten h3 {
    color: white;
}

.kontaktdaten a:hover {
    color: dimgray!important;
}